<div class="section">
    <div class="sub-section px-8 py-12 max-w-md mx-auto lg:max-w-full lg:w-1/2 lg:py-24 lg:px-12">
        <div class="xl:max-w-lg xl:ml-auto">
            <img class="h-12" src="http://tenbridges-re.com/wp-content/uploads/2018/02/tenbridges-logo_color.svg"
                alt="Invest in your lifestyle">
            <img class="mt-6 rounded-lg shadow-xl sm:mt-8 sm:h-72 sm:w-full sm:object-cover sm:object-center lg:hidden"
                src="https://www.workwise.sg/wp-content/uploads/2019/10/Optimus-2-b.jpg" atl=" Choose your own future.">
            <h1 class="mt-6 text-2xl font-bold text-blue-900 leading-tight sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl">
                You can look for estate from anywhere.
                <br class="hidden lg:inline"><span class="text-orange-500"> Take advatage of it.</span>
            </h1>
            <p class="mt-2 text-blue-800 sm:mt-4 sm:text-xl">
                "Buy real estate in areas where the path exists and buy more real estate where there is no path, but you
                can
                create your own.”
                - David Waronker, American real estate investor
            </p>
            <div class="mt-4 sm:mt-6">
                <a href="#" class="btn btn-orange px-8 shadow-lg sm:text-base"> Book your estate </a>
                <a href="#" class="btn ml-2 btn-gray sm:text-base"> Learn More </a>
            </div>
        </div>
    </div>
    <div class="hidden lg:block lg:w-1/2 lg:relative">
        <img class="absolute inset-0 h-full w-full object-cover object-center"
            src="https://www.workwise.sg/wp-content/uploads/2019/10/Optimus-2-b.jpg" atl=" Choose your own future.">


    </div>
</div>

        <%= render "header" %>


<div class="flex flex-wrap px-12 py-24">
    <div class="w-full text-center mb-10">
        <h1 class="text-blue-900 font-semibold text-3xl">View Categories</h1>
        <p class="text-gray-600 text-xl font-thinner ">Schedule a Tour and Find Your New Home</p>
    </div>

    <div class="flex justify-end w-full">
        <div class="mr-5">
            <label class="block uppercase tracking-wide text-blue-900 text-xl font-semibold mb-2" for="grid-state">
                View: </label>
            <div class="relative">
                <select 
                    class="dropdown-sort mr-3 block appearance-none w-full bg-gray-200 border border-gray-200 cursor-pointer text-gray-700 hover:bg-white py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-gray-lighter focus:border-gray-lighter"
                    id="grid-category">
                    <option>Mr. Charles Wilkinson</option>
                    <option>Laurence Rowe</option>
                    <option>Jerrod Heidenreich IV</option>
                </select>
                <div class="arrow-down pointer-events-none absolute flex items-center px-2 text-grey-darker">
                    <%= image_tag "https://img.icons8.com/material-outlined/24/000000/chevron-down.png", width: 15 %>
                </div>            
            </div>
        </div>
    </div>

    <div class="flex flex-wrap w-full">
        <%= render "residence_card", residences: @residences %>
    </div>

    <div class="flex flex-wrap w-full">
        <%= render "amenities_card", amenities: @amenities %>
    </div>   
</div>